{% extends 'header.html' %}
{% block body %}
{% load crispy_forms_tags %}
<style>
    body {
        background-image: radial-gradient(circle, #c5cccb, #c1d1d1, #d5e3e7, #b8dcf1, #b6ccee);
    }
    .container {
        max-width: 1000px;
    }
    .has-error label,
    .has-error input,
    .has-error textarea {
        color: red;
        border-color: red;
    }
    .list-unstyled li {
        font-size: 13px;
        padding: 4px 0 0;
        color: red;
    }
</style>
<br>
<div class="container">
    <div class="jumbotron">
      <h1>Portfolio Website Generator</h1>
      <p>Just add your details and a beautiful portfolio website is generated.</p>
    </div>
</div>

<div class="container mt-5">
    <div class="card">
    <h5 class="card-header text-center mt-auto">Add Your Details</h5>
    <div class="card-body">
    <form action="" method="POST" enctype="multipart/form-data" target="_blank">
        {% csrf_token %}
        {{form|crispy}}
        <input type="submit">
    </form>
</div>
</div>


{%  ifequal error "no" %}
<script>
    alert("Record Saved Successfully!");
    window.location=('{% url 'portfolio' %}');
</script>
{% endifequal %}

{% ifequal error "yes" %}
<script>
    alert("Something Went Wrong, Please Try Again!");
</script>
{% endifequal %}



{% endblock %}